# OpenAPI contract for native client integration.
# This contract maps to /api/v1 endpoints implemented in src/server/apiV1.ts.

openapi: 3.1.0
info:
  title: Secure Pastebin Native API
  version: 1.2.0
  description: |
    Versioned REST API for native Swift and Kotlin clients.
servers:
  - url: https://pastebin.sed.fyi
    description: Production
  - url: http://localhost:3000
    description: Local development
paths:
  /api/v1/capabilities:
    get:
      summary: API version and server capability limits for client drift detection
      operationId: getCapabilities
      responses:
        '200':
          description: Capability payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesResponse'
  /api/v1/health:
    get:
      summary: Service health and Shelby configuration status
      operationId: getHealth
      responses:
        '200':
          description: Health payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/upload:
    post:
      summary: Upload encrypted blob bytes (JSON, multipart, or raw octet stream)
      operationId: uploadBlob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                data:
                  type: string
                  format: binary
                filename:
                  type: string
                  maxLength: 255
              description: |
                Use `file` (preferred) or `data` for payload bytes.
                If `filename` is omitted, server will try multipart part filename.
          application/octet-stream:
            schema:
              type: string
              format: binary
            examples:
              rawBytes:
                summary: Raw bytes upload
                description: Provide filename via query `?filename=` or `X-Filename` header.
      responses:
        '200':
          description: Upload succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '415':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        '503':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/download:
    get:
      summary: Download encrypted blob bytes by ID
      operationId: downloadBlobByQuery
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        '503':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/download/{id}:
    get:
      summary: Download encrypted blob bytes by path ID
      operationId: downloadBlobByPath
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        '503':
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthResponse:
      type: object
      properties:
        configured:
          type: boolean
        account:
          type: string
          nullable: true
      required: [configured, account]
    CapabilitiesResponse:
      type: object
      properties:
        apiVersion:
          type: string
        maxUploadBytes:
          type: integer
        maxFilenameLength:
          type: integer
        rateLimitWindowMs:
          type: integer
        maxUploadsPerWindow:
          type: integer
        maxDownloadsPerWindow:
          type: integer
      required:
        - apiVersion
        - maxUploadBytes
        - maxFilenameLength
        - rateLimitWindowMs
        - maxUploadsPerWindow
        - maxDownloadsPerWindow
    UploadRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 255
        filename:
          type: string
          maxLength: 255
      required: [data, filename]
    UploadResponse:
      type: object
      properties:
        id:
          type: string
        expiresAt:
          type: integer
          format: int64
      required: [id, expiresAt]
    DownloadResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 255
      required: [data]
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required: [error]
