# Shelby Configuration
VITE_SHELBY_API_URL=https://api.shelbynet.shelby.xyz/shelby
VITE_SHELBY_API_KEY=
VITE_SHELBY_NETWORK=shelbynet

# Application Configuration
VITE_MAX_FILE_SIZE=104857600 # 100MB in bytes
VITE_LINK_EXPIRY_HOURS=24